
<ion-content [fullscreen]="true">
  <div class="back">
    
    <ion-button class="leftIcon">
      <ion-icon name="arrow-back-outline" class="iconaBack"></ion-icon>
    </ion-button>

    <h1 align="center" class="task">Regola completato <br> da [nome utente]</h1>

    <app-user-element-bar [labelText]="'[nome regola]'" [buttonText]="'Regola'" class="regola"></app-user-element-bar>
    <app-user-element-bar [labelText]="'punti'" [buttonText]="'Punti'" class="punti"></app-user-element-bar>


    <ion-textarea fill="outline" placeholder="Descrizione" shape="round" [readonly] = true class="descrizione"></ion-textarea>
    <ion-textarea fill="outline" placeholder="Commento [nome admin]" shape="round" [readonly] = true class="commento"></ion-textarea>

    <ion-grid>
      <ion-row>
        <ion-col>
          <app-bt-user-small shape="round"  clear [text]="'Visualizza allegato'"></app-bt-user-small>
        </ion-col>
        <ion-col>
          <app-bt-user-small shape="round"  clear [text]="'chiudi'"></app-bt-user-small>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
