<ion-content [fullscreen]="true">
  <div class="backgroundAdmin">

    <ion-button class="leftIcon" [routerLink]="['/home']">
      <ion-icon name="arrow-back" size="large" class="iconaNotifiche"></ion-icon>
    </ion-button>


    <h1 align="center" class="title">Crea Team</h1>
    <ion-button id="modalAttached" class="insertImage">Inserisci immagine del team
      <ion-icon slot="end" name="clipboard-outline"></ion-icon>
    </ion-button>

    <h5 class="teamCode">Codice del Team</h5>

    <ion-item>
      <ion-input class="code" labelPlacement="stacked" [readonly]="true">
      </ion-input>
    </ion-item>

    <h5 class="insertName">Inserisci nome del team</h5>
    <app-input class="teamName" [placeholder]="'Nome team'"></app-input>

    <ion-item class="membersquare">
      <ion-icon class="icon" name="person-add-outline"  [routerLink]="['/admin/add-user']"></ion-icon>
    </ion-item>
      <ion-label class="memberlabel">Aggiungi membro</ion-label>

      <ion-item class="rulesquare">
        <ion-icon class="icon" name="calendar-outline" [routerLink]="['/create-rule']"></ion-icon>
      </ion-item>
        <ion-label class="rulelabel">Aggiungi regola</ion-label>

    <ion-button class="privacyTeam" (click)="presentAlert()">Privacy Team</ion-button>
    <ion-button class="createTeam" [routerLink]="['/admin/admin-home-team']">Crea Team</ion-button>

  </div>

  <ion-modal trigger="modalAttached">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Aggiungi allegato</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="modal">
          <ion-icon name="document-attach-outline" class="icon-attach"></ion-icon>
          <ion-button fill="clear">
            <ion-input type="file" (change)="loadFileFromDevice($event)" id="file-input" accept="all">
            </ion-input>
          </ion-button>

          <div>
            <app-bt-admin-small text="Allega" (click)="attach()" style="margin-left: 10vh;"></app-bt-admin-small>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
