.btAdminLarge {
    --background: var(--ion-color-admin);
    font-size: 22px;
    --border-radius: 28px;

    height: 64px;
    width: 240px;

    margin-bottom: 1vh;

    color: black;
    font-weight: bold;
}