<ion-content [fullscreen]="true">
  <div class="backgroundAdmin">

    <ion-button class="leftIcon" fill="clear" (click)="backButton()">
      <ion-icon name="arrow-back-outline" class="iconaBack" size="large"></ion-icon>
    </ion-button>

    <h1 class="title">Storico Richieste</h1>

    <ion-button (click)="presentAlert()" class="rightIcon" fill="clear">
      <ion-icon slot="icon-only" name="options-outline" size="large"></ion-icon>
    </ion-button>

    <div slot="start" class="searchbar">
      <app-search-bar (ionInput)="ricerca($event)"></app-search-bar>
    </div>

    <div class="listBox">
      <ion-list class="notifications" lines="none">

        <ion-item class="itemadmin" *ngFor="let activity of history" [routerLink]="['/task-rejected']">
          <ion-icon name="close-circle-outline" size="small" class="icon"></ion-icon>
          <ion-label class="label">{{activity.user.name}}  {{activity.rule.name}} {{activity.timestamp}}</ion-label>
        </ion-item>
        
      </ion-list>
    </div>

  </div>
</ion-content>
