.title {
    text-align: center;
    margin-top: 8vh;
}

.text-input {
    margin-top: 16vh;
}

.input-div {
    margin-top: 4vh;
}

.create-prize-button {
    text-align: center;
    margin-top: 31vh;
}