<ion-content [fullscreen]="true">
  <div class="backgroundAdmin">

    <ion-button class="leftIcon" (click)="backButton()" fill="clear">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-button>

    <h2 class="title">Crea un premio per<br/>[Nome Team]</h2>

    <div class="text-input">
      <app-input placeholder="Nome"></app-input>

      <div class="input-div">
        <app-input placeholder="Punti"></app-input>
      </div>

      <div class="create-prize-button">
        <app-bt-admin-small text="Crea Premio" [routerLink] = "['/admin/admin-prizes-page']"></app-bt-admin-small>
      </div>
    </div>
  
  </div>
</ion-content>