<ion-content [fullscreen]="true">
  <div class="backgroundAdmin">

    <ion-button class="leftIcon" fill="clear">
      <ion-icon name="arrow-back-outline" size="large" color="dark"></ion-icon>
    </ion-button>

    <ion-button class="rightIcon" fill="clear" [routerLink] = "['/create-prize']">
      <ion-icon name="add-circle-outline" size="large" color="dark"></ion-icon>
    </ion-button>

    <h1 class="title">Premi</h1>
    <h1 class="subtitle">[Nome Team]</h1>

    <div class="listBox">
      <ion-list>
        <ion-item class="item" *ngFor="let item of [].constructor(15); let i = index">
          <ion-label class="label">Caffè offerto</ion-label>
          <ion-button class="fakebutton" [disabled]="true">46 pt</ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>