<ion-content [fullscreen]="true">
  <div class="backgroundAdmin">

    <ion-button class="leftIcon" fill="clear" (click)="backButton()">
      <ion-icon name="arrow-back-outline" size="large" color="dark"></ion-icon>
    </ion-button>

    <ion-button class="rightIcon" fill="clear" [routerLink] = "['/create-prize']">
      <ion-icon name="add-circle-outline" size="large" color="dark"></ion-icon>
    </ion-button>

    <h1 class="title">Premi<br/>[Nome Team]</h1>

    <div class="listBox">
      <ion-list class="list">
        <ion-item-sliding id="div-rule-task" *ngFor="let item of [].constructor(10); let i = index">
          <ion-item id="div-rule-task">
            <ion-label class="label">[Nome Premio]</ion-label>
          <ion-button class="fakebutton" [disabled]="true">+15</ion-button>

        </ion-item>
          <ion-item-options side="end">
            <ion-item-option>
              <ion-icon name="trash-outline" size="large" color="danger"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
</ion-content>
