.title {
    margin-top: 8vh;
    text-align: center;
}

.search {
    margin-top: 0vh;
}

.choice {
    margin-top: 0vh;
}

.imgUser {
    width: 6vh;
    height: 6vh;
    border-radius: 12px;
    margin-right: 2vh;
}

.listBox {
    margin-top: 2vh;
    width: 90%;
    height: 53vh;
    overflow: hidden;
    overflow-y: scroll;
    background-color: transparent;
}

.list {
    background-color: transparent;
}

.item {
    margin-top: 1vh;
    --background: var(--ion-color-grey);
    --border-radius: 25px;
    height: 7vh;
}

.item-div {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 7vh;;
}

.nomeUtente {
    font-size: 20px;
    font-family: 'Outfit';
    --color: var(--ion-color-black);
}

ion-item-options {
    border-radius: 25px;
    overflow: hidden;
    background: transparent;

    ion-item-option {
        background: transparent;
    }
}

ion-searchbar {
    --box-shadow: none;
    --background: var(--ion-color-grey);
    --border-radius: 25px;

    margin-top: 1vh;
    width: 85%;
    padding: 0;

    background: transparent !important;
}

.change {
    margin-top: 3vh;
}

ion-segment {
    --background: var(--ion-color-admin);
    border-radius: 3vh;
    padding-top: 0.4vh;
    padding-bottom: 0.3vh;
    padding-left: 0.4vh;
    padding-right: 0.4vh;
    margin-top: 5vh;
    width: 38vh;
    height: 5vh;
}

ion-segment-button {
    --border-radius: 3vh;
    height: 3.75vh;
}

.segmentText {
    font-size: 1.9vh;
}

.points-label {
    position: absolute;
    font-weight: bold;
    font-size: larger;
    margin-left: 33vh;
}