<ion-content [fullscreen]="true">
  <div class="backgroundAdmin">
    <ion-button class="leftIcon">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-button>

    <h1 class="title">Partecipanti</h1>

    <ion-button class="rightIcon">
      <ion-icon name="add-outline" size="large" class="iconaRicerca"></ion-icon>
    </ion-button>

    <ion-searchbar placeholder="Cerca"></ion-searchbar>

    <div class="switch" *ngIf="!stato">
      <div class="selected">
        Decrescente
      </div>
      <div class="notSelected" (click)="showAsc(true)">
        Crescente
      </div>
    </div>

    <div class="switch" *ngIf="stato">
      <div class="notSelected" (click)="showAsc(false)">
        Decrescente
      </div>
      <div class="selected">
        Crescente
      </div>
    </div>

    <div class="listBox" *ngIf="stato">
      <ion-list class="list" lines="none">
        <ion-item-sliding *ngFor="let item of [].constructor(4); let i = index"
          [routerLink]="['/admin/admin-profile']">
          <ion-item class="item">

            <img class="imgUser" alt="User" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <ion-label class="nomeUtente">Utente {{i+1}}</ion-label>
            <h3>{{i+2*i+3}}</h3>

          </ion-item>
          <ion-item-options side="end">
            <ion-item-option>
              <ion-icon name="trash-outline" size="large" color="danger"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <div class="listBox" *ngIf="!stato">
      <ion-list class="list" lines="none">
        <ion-item-sliding *ngFor="let item of [].constructor(14); let i = index"
          [routerLink]="['/admin/admin-profile']">
          <ion-item class="item">

            <img class="imgUser" alt="User" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <ion-label class="nomeUtente">Utente {{i+1}}</ion-label>
            <h3>{{32}}</h3>

          </ion-item>
          <ion-item-options side="end">
            <ion-item-option>
              <ion-icon name="trash-outline" size="large" color="danger"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
</ion-content>