<ion-content [fullscreen]="true">
  <div class="backgroundLightUser">

    <ion-button class="leftIcon" (click)="backButton()">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-button>

    <div class="signup">
      <h3 class="titolo">Registrazione</h3>
      <ul *ngIf="errorCheck">
        Campi mancanti
     </ul>
      <ion-input [(ngModel)]="user.name" [type]="'text'" label="Nome" labelPlacement="stacked" fill="outline" shape="round" mode="md" class="formInput"></ion-input>
      
      <ion-input [(ngModel)]="user.surname" [type]="'text'" label="Cognome" labelPlacement="stacked" fill="outline" shape="round" mode="md" class="formInput"></ion-input>

      <ion-input [(ngModel)]="user.email" (ionInput)="emailChecker()" [type]="'text'" label="Email" labelPlacement="stacked" fill="outline" shape="round" mode="md" class="formInput"></ion-input>
      <ion-text *ngIf="emailErrorMessage" class="email-error-message">{{emailErrorMessage}}</ion-text>

      <ion-input [(ngModel)]="user.username" (ionInput)="username_checker()" [type]="'text'" label="Username" labelPlacement="stacked" fill="outline" shape="round" mode="md" class="formInput"></ion-input>
      <ion-text *ngIf="log_error_username" class="error-message">{{log_error_username}}</ion-text>

      <ion-input [(ngModel)]="password" (keydown)="handleKeyDown($event)" (ionInput)="password_checker()" [type]="showPassword ? 'text' : 'password'" label="Password" labelPlacement="stacked" fill="outline" shape="round" mode="md" class="formInput with-eye-icon">
        <ion-icon name="{{ showPassword ? 'eye' : 'eye-off' }}" (click)="togglePasswordVisibility()" slot="end" class="eye-icon"></ion-icon>
      </ion-input>  
          
      <ion-text class="error-message">
        <ul *ngIf="log_error_password">
          <li *ngFor="let error of log_error_password.split(',')">{{ error }}</li>
        </ul>
      </ion-text>

      <ion-button [disabled]="!(password_checker() && username_checker() && emailChecker())" id="btUserSmall" (click)="signup()">Registrati</ion-button>
    </div>
  </div>

</ion-content>