.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    width: 40vh;
}

.titolo {
  margin-right: 15vh;
  margin-bottom: 4vh;
}

app-bt-user-small{
  margin-top: 3vh;
}
#btUserSmall {
  color: var(--ion-color-white);
  --background: var(--ion-color-user);
  font-size: 22px;
  --border-radius: 28px;

  height: 64px;
  width: 150px;

  margin-bottom: 1vh;

  color: black;
  font-weight: bold;
}

.email-error-message {
  align-items: center;
  color: red;
  font-size: 12px;
  margin-top: -2vh;
  margin-left: -1vh;
  margin-bottom: 1vh;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: -2vh;
  margin-bottom: 1vh;
  align-items: left;
}

.error-message ul {
  list-style: none;
  width: 110%;
  padding-left: 0vh;
  margin-top: 0vh;
  margin-bottom: 0;
}

.with-eye-icon {
  position: relative;
  padding-right: 32px;
}

.with-eye-icon .eye-icon {
  position: absolute;
  top: 50%;
  right: 3vh;
  transform: translateY(-50%);
  font-size: 22px;
  color: var(--ion-color-medium);
  z-index: 9999;
  pointer-events: auto;
}