<ion-content [fullscreen]="true">
  <div class="backgroundLightUser">

    <ion-button class="leftIcon" [routerLink]="['/login']">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-button>

    <div class="signup">
      <h3 class="titolo">Registrazione</h3>
      <app-input [(ngModel)]="user.name" [type]="'text'" [placeholder]="'Nome'"></app-input>
      <app-input [(ngModel)]="user.surname" [type]="'text'" [placeholder]="'Cognome'"></app-input>
      <app-input [(ngModel)]="user.email" [type]="'text'" [placeholder]="'Email'"></app-input>
      <app-input [(ngModel)]="user.username" [type]="'text'" [placeholder]="'Username'"></app-input>
      <app-input [(ngModel)]="user.password" [type]="'password'" [placeholder]="'Password'"></app-input>

      <app-bt-user-small (click)="signup()" [text]="'Registrati'"></app-bt-user-small>
    </div>
  </div>

</ion-content>