<ion-content [fullscreen]="true">
  <div class="backgroundLightUser">

    <ion-button class="leftIcon" [routerLink]="['/login']">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-button>

    <div class="signup">
      <h3 class="titolo">Registrazione</h3>
      <app-input [type]="'text'" [placeholder]="'Nome'"></app-input>
      <app-input [type]="'text'" [placeholder]="'Cognome'"></app-input>
      <app-input [type]="'text'" [placeholder]="'Email'"></app-input>
      <app-input [type]="'text'" [placeholder]="'Username'"></app-input>
      <app-input [type]="'password'" [placeholder]="'Password'"></app-input>

      <app-bt-user-small [routerLink]="['/login']" [text]="'Registrati'"></app-bt-user-small>
    </div>
  </div>

</ion-content>