<ion-content [fullscreen]="true">
  <div class="backgroundAdmin">

    <ion-button class="leftIcon" fill="clear" (click)="backButton()">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-button>

    <h1 class="title">Attività in<br />sospeso</h1>

    <div class="listBox">
      <ion-list>
        <div *ngIf="this.rules">
          <ion-item class="item" *ngFor="let rule of rules" [routerLink]="['/task-confirmation']">
            <img class="icon" name=iconName src="{{this.rule.photo}}">
            <ion-label class="label">{{rule.username}}</ion-label>
            <ion-label class="label">{{rule.name}}</ion-label>
          </ion-item>
        </div>

        <div *ngIf="this.tasks">
          <ion-item class="item" *ngFor="let task of tasks" [routerLink]="['/task-confirmation']">
            <img alt="User" class="icon" name=iconName src="{{this.task.photo}}">
            <ion-label class="label">{{task.username}}</ion-label>
            <ion-label class="label">{{task.name}}</ion-label>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>