.subtitle {
    margin-top: 14vh;
    color: black;
    font-weight: bold;
}

ion-textarea{
    border: solid 3px var(--ion-color-grey);
    border-radius: 30px;

    height: 50%;
    width: 80%;
    margin-top: 2vh;

    &[placeholder]{
        padding-left: 7px;
    }
  }
