<ion-content [fullscreen]="true">
  <div class="backgroundAdmin">
    <ion-button class="leftIcon" [routerLink]="['/admin/admin-list-desc']">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-button>

    <img class="imgUser" alt="Utente" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    <h1 class="nameUser">[Nome Utente]</h1>
    <h2 class="scoreUser">Punti: 100</h2>

    <div class="switch" *ngIf="!stato">
      <div class="selected">
        Compiti completati
      </div>
      <div class="notSelected" (click)="showPermi(true)">
        Permi riscossi
      </div>
    </div>

    <div class="switch" *ngIf="stato">
      <div class="notSelected" (click)="showPermi(false)">
        Compiti completati
      </div>
      <div class="selected">
        Permi riscossi
      </div>
    </div>

    <div class="listBox" *ngIf="!stato">
      <ion-list class="list" lines="none">
        <ion-item class="item" *ngFor="let item of [].constructor(15); let i = index">
          <ion-label class="nomeAttivita">Regola {{i+1}}</ion-label>
          <ion-button class="btnOn" slot="end" size="large">
            {{i+1*i+1*i+1}} pt
          </ion-button>
        </ion-item>
      </ion-list>
    </div>

    <div class="listBox" *ngIf="stato">
      <ion-list class="list" lines="none">
        <ion-item class="item" *ngFor="let item of [].constructor(5); let i = index">
          <ion-label class="nomeAttivita">Premio {{i+1}}</ion-label>
          <ion-button class="btnOff" slot="end" size="large">
            -{{i+1*i+2*i+2}} pt
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>