.imgUser {
    margin-top: 8vh;
    width: 10vh;
    height: 10vh;
    border-radius: 25px;
}

.nameUser {
    font-size: 20px;
    color: var(--ion-color-black);
}

.scoreUser {
    margin-top: 4vh;
    font-size: 25px;
}

.listBox {
    width: 90%;
    height: 53vh;
    overflow: hidden;
    overflow-y: scroll;
    background-color: transparent;
}

.list {
    background-color: transparent;
}

h1 {
    margin: 0;
}

ion-segment {
    --background: var(--ion-color-admin);
    border-radius: 3vh;
    padding-top: 0.4vh;
    padding-bottom: 0.3vh;
    padding-left: 0.4vh;
    padding-right: 0.4vh;
    margin-top: 2vh;
    width: 38vh;
    height: 5vh;
}

ion-segment-button {
    --border-radius: 3vh;
    height: 3.75vh;
}

.segmentText {
    font-size: 1.9vh;
}

.item {
    --background: var(--ion-color-grey);
    font-size: 22px;
    --border-radius: 3.3vh;
    height: 7.58vh;
    margin-top: 2vh;
}

.label {
    height: 7.58vh;
    font-size: 2.6vh;
    margin: 0;
    text-align: center;
    margin-right: 12vh;
    padding-top: 2vh;
    color: black;
}

.fakebutton {
    position: absolute;
    color: black;
    --background: var(--ion-color-light-admin);
    font-size: 3vh;
    --border-radius: 28px;

    height: 7.58vh;
    width: 35%;

    margin: 0;
    right: 0;
    top: 0;

    &[disabled] {
        --background: var(--ion-color-light-admin);
        opacity: 1;
    }
}

.label {
    height: 100px;
    width: 100px;
}