<ion-content [fullscreen]="true">
  <div class="backgroundAdmin">
    <ion-button class="leftIcon" (click)="backButton()" fill="clear">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-button>

    <h2 class="title">Aggiungi Utente al Team<br/>[Nome Team]</h2>

    <ion-searchbar placeholder="Cerca"></ion-searchbar>

    <div class="listBox">
      <ion-list class="list" lines="none">
        <ion-item-sliding *ngFor="let item of [].constructor(4); let i = index">
          <ion-item class="item">
            <div class="item-div">
            <img class="imgUser" alt="User" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
            <ion-label class="nomeUtente">[Nome Utente]</ion-label>
            </div>

          </ion-item>
          <ion-item-options side="end">
            <ion-item-option class="option-one">
              <ion-icon slot="top" name="person-add-outline" size="large"></ion-icon>
              Admin
            </ion-item-option>
            <ion-item-option class="option-two">
              <ion-icon slot="top" name="person-add-outline" size="large"></ion-icon>
              Utente
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

  </div>
</ion-content>