<ion-content [fullscreen]="true">
  <div class="backgroundAdmin">

    <ion-button class="leftIcon" (click)="backButton()" fill="clear">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-button>

    <h2 class="title">Richieste di Accesso<br/>al Team<br/>[Nome Team]</h2>

  <div class="listBox">
    <ion-list class="list" lines="none">
      <ion-button (click)="presentAlert()" *ngFor="let u of userJoin" class="buttons">{{u?.user?.name}} ha richiesto di<br/>entrare nel Team {{u?.team?.name}}</ion-button>
    </ion-list>
  </div>
  
  </div>
</ion-content>