<ion-content [fullscreen]="true">

  <div [ngSwitch]="type">

    <div *ngSwitchCase="'rules'" class="backgroundAdmin">

      <ion-button class="leftIcon"  [routerLink]="['/admin/admin-home-team']">
        <ion-icon name="arrow-back-outline" class="iconaBack" size="large"></ion-icon>
      </ion-button>

      <ion-button class="rightIcon" [routerLink] = "['/create-rule']">
        <ion-icon name="add-circle-outline" size="large"></ion-icon>
      </ion-button>

      <h1 align="center" class="title">Nome Team</h1>

      <ion-segment class="choseAdmin" value="rules" [(ngModel)]="type" (ionChange)="segmentChanged($event)">
        <ion-segment-button value=rules>
          <ion-label>Regole</ion-label>
        </ion-segment-button>
        <ion-segment-button value="tasks">
          <ion-label>Tasks</ion-label>
        </ion-segment-button>
      </ion-segment>

    <ion-list class="list" lines="none">
      <ion-item-sliding *ngFor="let item of [].constructor(3); let i = index">
        <app-admin-insert-bar class="listElement" [labelText]="'nome regola'" [buttonText]="'+0'"></app-admin-insert-bar>
        <ion-item-options side="end">
          <ion-item-option>
            <ion-icon name="trash-outline" size="large" color="danger"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    </div>

    <div *ngSwitchCase="'tasks'" class="backgroundAdmin">

      <ion-button class="leftIcon">
        <ion-icon name="arrow-back-outline" class="iconaBack"></ion-icon>
      </ion-button>

      <ion-button class="rightIcon">
        <ion-icon name="add-circle-outline" size="large"></ion-icon>
      </ion-button>

      <h1 align="center" class="title">Nome Team</h1>

      <ion-segment class="choseAdmin" value="tasks" [(ngModel)]="type" (ionChange)="segmentChanged($event)">
        <ion-segment-button value=rules>
          <ion-label>Regole</ion-label>
        </ion-segment-button>
        <ion-segment-button value="tasks">
          <ion-label>Tasks</ion-label>
        </ion-segment-button>
      </ion-segment>

    <ion-list class="list" lines="none">
      <ion-item-sliding *ngFor="let item of [].constructor(3); let i = index">
        <app-admin-insert-bar class="listElement" [labelText]="'nome task'" [buttonText]="'+0'"></app-admin-insert-bar>
        <ion-item-options side="end">
          <ion-item-option>
            <ion-icon name="trash-outline" size="large" color="danger"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    </div>

  </div>
</ion-content>
