.title {
  text-align: center;
  margin-top: 8vh;
}

.list {
  background-color: transparent;
}

.item {
  margin-top: 2vh;
  --background: var(--ion-color-grey);
  --border-radius: 30px;
}

ion-item-options {
  border-radius: 25px;
  overflow: hidden;
  background: transparent;

  ion-item-option {
      background: transparent;
  }
}

ion-segment {
  --background: var(--ion-color-admin);
  border-radius: 3vh;
  width: 38vh;
  height: 5vh;

  margin-top: 13vh;

}

ion-segment-button {
  --border-radius: 3vh;
  min-height: 2px !important;
  margin: 0.5vh;
}

.segmentText {
  font-size: 1.9vh;
}

#div-team-name {
  font-size: 1.2em;
}

#div-code {
  font-size: 0.8em;
  color: var(--ion-color-black);
}

#div-choice-bar {
  margin-top: 11vh;
}

#div-rule-task {
  margin-top: 2vh;
}

#div-rules-tasks {
  margin-top: 2vh;
  overflow: hidden;
  overflow-y: scroll;
  height: 50%;
}


#div-prizes {
  margin-top: 2vh;
  overflow: hidden;
  overflow-y: scroll;
  height: 50%;
}

#div-div-rules-tasks {
  background-color: var(--ion-color-grey);
  font-size: 2vh;
  border-radius: 28px;

  height: 8vh;
  width: 80vw;

  display: flex;
  flex-direction: row;

}

.fakebutton {
  position: absolute;
  color: black;
  --background:var(--ion-color-admin);
  font-size: 3vh;
  --border-radius: 28px;

  height: 7.58vh;
  width: 35%;

  margin: 0;
  right: 0;
  top: 0;

  &[disabled] {
      --background: var(--ion-color-light-admin);
      opacity: 1;
  }
}

.label {
  height: 45px;
  width: 300px;
  font-size: large;
}
.listBox {
  margin-top: 1vh;
  width: 90%;
  height: 48vh;
  overflow: hidden;
  overflow-y: scroll;
  background-color: transparent;
}

ion-list{
  background-color: transparent;
}
