.listBox {
  width: 90%;
  height: 53vh;
  overflow: hidden;
  overflow-y: scroll;
  background-color: transparent;
  margin-top: 4vh;
}

.list {
  background-color: transparent;
}

.item {
  margin-top: 2vh;
  --background: var(--ion-color-grey);
  --border-radius: 30px;
}

ion-item-options {
  border-radius: 25px;
  overflow: hidden;
  background: transparent;

  ion-item-option {
      background: transparent;
  }
}

ion-segment {
  --background: var(--ion-color-admin);
  border-radius: 3vh;
  width: 38vh;
  height: 5vh;

  margin-top: 13vh;

}

ion-segment-button {
  --border-radius: 3vh;
  min-height: 2px !important;
  margin: 0.5vh;
}

.segmentText {
  font-size: 1.9vh;
}
