<ion-content [fullscreen]="true">
  <!--
    Questa pagina è impostata in modo che viene creata una pagina nuova da zero ogni volta che cambia il segment,
    Sarebbe meglio trovare un modo per cambiare solo il css (oltre alle notifiche ovviamente) al cambiare della variabile type
  -->

  <div [ngSwitch]="type">

    <div *ngSwitchCase="'utente'" class="backgroundUser" >

      <ion-button class="leftIcon"  (click)="backButton()" >
        <ion-icon name="arrow-back-outline" size="large" ></ion-icon>
      </ion-button>

      <h1 align="center" class="title">Notifiche</h1>

      <ion-segment class="choseUser" value="utente" [(ngModel)]="type" (ionChange)="segmentChanged($event, user.id, 1)">
        <ion-segment-button value=utente>
          <ion-label>Utente</ion-label>
        </ion-segment-button>
        <ion-segment-button value="admin">
          <ion-label>Admin</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-list class="notifications" lines="none" *ngFor="let n of notifications">
        <ion-item class="item" [routerLink] = "['/user/user-notification-description', n.notification.id]">
          <ion-label class="data">{{n.notification.date}}</ion-label>
          <ion-label class="titolo">{{n.notification.title}}</ion-label>
          <ion-label class="nomeTeam">{{n.notification.team.name}}</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'admin'" class="backgroundAdmin">

      <ion-button class="leftIcon" (click)="backButton()">
        <ion-icon name="arrow-back-outline" size="large" ></ion-icon>
      </ion-button>

      <h1 align="center" class="title">Notifiche</h1>

      <ion-segment class="choseAdmin" value="utente" [(ngModel)]="type" (ionChange)="segmentChanged($event, user.id, 1)">
        <ion-segment-button value=utente>
          <ion-label>Utente</ion-label>
        </ion-segment-button>
        <ion-segment-button value="admin">
          <ion-label>Admin</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-list class="notifications" lines="none" *ngFor="let n of adminNotifications">
        <ion-item class="item" [routerLink] = "['/admin/admin-notification-description', n.notification.id]">
          <ion-label class="data">{{n.notification.date}}</ion-label>
          <ion-label class="titolo">{{n.notification.title}}</ion-label>
          <ion-label class="nomeTeam">{{n.notification.team.name}}</ion-label>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>

<ion-alert
  trigger="ingresso"
  header="Accettare l'utente [nome utente] nel team [nome team]?"
  [buttons]="alertBtns"
></ion-alert>
