<ion-content [fullscreen]="true">
  <div class="backgroundAdmin">

    <ion-button class="leftIcon" (click)="backButton()" fill="clear">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-button>

    <h2 class="title">Crea un Task<br/>per {{team.name}}</h2>

    <div class="text-input">
      <ion-input [(ngModel)]="task.name" class="formInput" [type]="'text'" label="Nome" labelPlacement="stacked" fill="outline" shape="round" mode="md"></ion-input>

      <div class="input-div">
        <ion-input [(ngModel)]="task.points" class="formInput" [type]="'text'" label="Punti" labelPlacement="stacked" fill="outline" shape="round" mode="md"></ion-input>
      </div>

      <div class="input-div">
        <ion-input [(ngModel)]="task.endDate" class="formInput" [type]="'text'" label="Scadenza (AAAA-MM-GG)" labelPlacement="stacked" fill="outline" shape="round" mode="md"></ion-input>
      </div>

      <ion-label class="label">Descrizione:</ion-label>
      <ion-textarea [(ngModel)]="task.description" fill="outline"></ion-textarea>

      <!--<div class="button-div">-->
      <!--  <ion-button (click)="presentAlert()" class="exclusive-button">-->
      <!--    <div class="internal-div">-->
      <!--      <span class="button-text">Rendi esclusivo per...</span>-->
      <!--      <ion-icon class="button-icon" name="add-outline" size="large"></ion-icon>-->
      <!--    </div>-->
      <!--  </ion-button>-->
      <!--</div>-->

      <div class="create-task-button">
        <app-bt-admin-small text="Crea Task" (click)="backButton()" (click)="createTask()"></app-bt-admin-small>
      </div>
    </div>

  </div>
</ion-content>
