<ion-content [fullscreen]="true">
  <div class="backgroundAdmin">

    <ion-button class="leftIcon">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-button>

    <h2 class="title">Crea una Regola<br/>per [Nome Team]</h2>

    <div class="text-input">
      <app-input placeholder="Nome"></app-input>

      <div class="input-div">
        <app-input placeholder="Punti"></app-input>
      </div>

      <ion-textarea fill="outline" placeholder="Descrizione"></ion-textarea>

      <div class="create-rule-button">
        <app-bt-admin-small text="Crea Regola" [routerLink] = "['/admin/team-rules-tasks']"></app-bt-admin-small>
      </div>
    </div>
  
  </div>
</ion-content>