.title {
    text-align: center;
    margin-top: 8vh;
}

.text-input {
    margin-top: 16vh;
}

.input-div {
    margin-top: 4vh;
}

ion-textarea {
    border: solid 1.5px rgb(195, 195, 195);
    border-radius: 30px;

    height: 18vh;
    width: 100%;

    margin-top: 0vh;

    text-indent: 3vh;
}

.create-rule-button {
    text-align: center;
    margin-top: 9vh;
}

.label {
    margin-left: 2vh;
    margin-bottom: -19vh;
}