
<ion-content [fullscreen]="true">
 <div class="backgroundUser">

    <ion-button class="leftIcon" [routerLink] = "['/user/team']">
      <ion-icon name="arrow-back-outline" class="iconaBack" size="large"></ion-icon>
    </ion-button>
    <h1 align="center" class="title">Nome team</h1>
    <p class="codice" align="center">Codice :[Codice team]</p>
    <div class="search" align="center">
      <app-search-bar></app-search-bar>
    </div>

    <div class="switch" *ngIf="!stato">
      <div class="selected">
        Nome
      </div>
      <div class="notSelected" (click)="showAsc(true)">
        Punteggio
      </div>
    </div>

    <div class="switch" *ngIf="stato">
      <div class="notSelected" (click)="showAsc(false)">
       Nome
      </div>
      <div class="selected">
        Punteggio
      </div>
    </div>

    <div class="listBox" *ngIf="stato">
      <ion-list class="list" lines="none">
        <ion-item-sliding *ngFor="let item of [].constructor(4); let i = index"
          [routerLink]="['/admin/admin-profile']">
          <ion-item class="item">

            <img class="imgUser" alt="User" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <ion-label class="nomeUtente">Utente {{i+1}}</ion-label>
            <h3>{{i+2*i}}</h3>

          </ion-item>
          <ion-item-options side="end">
            <ion-item-option>
              <ion-icon name="trash-outline" size="large" color="danger"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <div class="listBox" *ngIf="!stato">
      <ion-list class="list" lines="none">
        <ion-item-sliding *ngFor="let item of [].constructor(14); let i = index"
          [routerLink]="['/admin/admin-profile']">
          <ion-item class="item">

            <img class="imgUser" alt="User" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <ion-label class="nomeUtente">Utente {{i+1}}</ion-label>

          </ion-item>
          <ion-item-options side="end">
            <ion-item-option>
              <ion-icon name="trash-outline" size="large" color="danger"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
</ion-content>
