<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="backgroundUser">

    <ion-button class="leftIcon" fill="clear" (click)="backButton()">
      <ion-icon name="arrow-back-outline" class="iconaBack" size="large"></ion-icon>
    </ion-button>
    <h1 class="title">{{team.name}}</h1>
    <h2 class="team-code">Codice: {{team.code}}</h2>

    <ion-searchbar class="search" (ionInput)="ricerca($event)" placeholder="Cerca"></ion-searchbar>

    <div class="search" *ngIf="team.pointVisibility">
      <ion-segment value="1" (ionChange)="segmentChanged($event)">
        <ion-segment-button value=1>
          <ion-label class="segmentText">Nome</ion-label>
        </ion-segment-button>
        <ion-segment-button value=2>
          <ion-label class="segmentText">Punteggio</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="listBox" *ngIf="stato">
      <ion-list class="list" lines="none" *ngIf="!statoRicerca">
        <ion-item class="item" *ngFor="let user of partecipantsPoints">
          <div class="item-div">
            <img class="imgUser" alt="User" src={{user.user.photo}} />
            <ion-label class="nomeUtente">{{user.user.username}}</ion-label>
            <ion-label class="points-label">{{user.points}}</ion-label>
          </div>
        </ion-item>
      </ion-list>

      <ion-list class="list" lines="none" *ngIf="statoRicerca">
        <ion-item class="item" *ngFor="let user of userJoinsTeamSearch">
          <div class="item-div">
            <img class="imgUser" alt="User" src={{user.photo}} />
            <ion-label class="nomeUtente">{{user.username}}</ion-label>
            <ion-label class="points-label">{{user.points}}</ion-label>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div class="listBox" *ngIf="!stato">
      <ion-list class="list" lines="none" *ngIf="!statoRicerca">
        <ion-item class="item" *ngFor="let user of partecipantsPoints">
          <div class="item-div">
            <img class="imgUser" alt="User" src={{user.user.photo}} />
            <ion-label class="nomeUtente">{{user.user.username}}</ion-label>
          </div>
        </ion-item>
      </ion-list>

      <ion-list class="list" lines="none" *ngIf="statoRicerca">
        <ion-item class="item" *ngFor="let user of userJoinsTeamSearch">
          <div class="item-div">
            <img class="imgUser" alt="User" src={{user.photo}} />
            <ion-label class="nomeUtente">{{user.username}}</ion-label>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>