.title {
  text-align: center;
  margin-top: 8vh;
  font-weight: bold;
}

.left-col {
  margin-right: 1vh;
}

.right-col {
  margin-left: 1vh;
}

.visualize-attached {
  color: var(--ion-color-white);
  --background: var(--ion-color-admin);
  font-size: 22px;
  --border-radius: 28px;

  height: 64px;
  width: 150px;

  margin-bottom: 1vh;

  color: black;
  font-weight: bold;
}

.buttons-grid {
  margin-top: 5vh;
}

ion-textarea{
  border: solid 3px var(--ion-color-grey);
  border-radius: 30px;

  height: 18vh;
  width: 80%;

  margin-top: 3vh;
  text-indent: 3vh;
}

.elementbar {
  height: 64px;
  width: 90%;
}

.space-div {
  margin-top: 3vh;
}

.div-element-bar {
  margin-top: 12vh;
}

.leftIcon {
  --background: trasparent;
}

.commentArea {
  height: 30vh;
}

.label {
  margin-bottom: -3vh;
  margin-top: 5vh;
  text-align: left;
  margin-left: 15vh;
  width: 100%;
}