<ion-content [fullscreen]="true">
  <div class="backgroundAdmin">

    <ion-button class="leftIcon" fill="clear" (click)="backButton()">
      <ion-icon name="arrow-back-outline" class="iconaBack" size="large"></ion-icon>
    </ion-button>

    <h1 class="title">Task completato da<br/>[Nome Utente]</h1>

    <div class="div-element-bar">
      <app-admin-element-bar class="elementbar" [buttonText]="'Task'" [labelText]="'[Nome Task]'"></app-admin-element-bar>
      <div class="space-div"></div>
      <app-admin-element-bar class="elementbar" [buttonText]="'Punti'" [labelText]="'[Punti]'"></app-admin-element-bar>
    </div>

    <ion-textarea class="descriptionArea" fill="outline" placeholder="Descrizione" shape="round" [readonly] = true></ion-textarea>
    <ion-textarea class="commentArea" fill="outline" placeholder="Commento" shape="round" [readonly] = true></ion-textarea>

    <ion-grid class="buttons-grid">
      <ion-row>
        <ion-col class="left-col">
          <ion-button class="visualize-attached">Visualizza<br/>Allegato</ion-button>
        </ion-col>
        <ion-col class=right-col>
          <app-bt-admin-small shape="round"  clear [text]="'Chiudi'" [routerLink]="['/admin/request-history']"></app-bt-admin-small>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>