.login {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100vh;
    height: 100vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

.logo {
    width: 200px;
    height: 200px;
    margin-bottom: -20px;
    background-size: cover;
}

.titolo {
    margin-left: 4vh;
    margin-bottom: 2vh;
}

.form{
  margin-top: 1vh;
  width: 40vh;
}

.loginButton{
  margin-top: 2vh;
}

.singUpButton {
    color: var(--ion-color-black);
    font-size: 20px;
    --box-shadow: none;
    --background: none;

    height: 10vh;
}

.singUpBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.linearGradientLeft {
    background: var(--ion-color-white);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 27%, rgba(79, 192, 203, 1) 100%);

    height: 0.4vh;
    width: 15vh;
}

.linearGradientRight {
    background: var(--ion-color-user);
    background: linear-gradient(90deg, rgba(79, 192, 203, 1) 0%, rgba(255, 255, 255, 0) 73%);

    height: 0.4vh;
    width: 15vh;
}
