<ion-content [fullscreen]="true">
  <div class="backgroundLightUser">

    <div class="login">
      <img src="../../assets/image/logo.svg" alt="logo" class="logo">

      <h4>Rank Up</h4>

      <div class="form">
        <h3 class="titolo">Login</h3>
        <ion-input [(ngModel)]="user.username" class="formInput" [type]="'email'" [placeholder]="'Username'" fill="outline" shape="round" mode="md"></ion-input>
        <ion-input [(ngModel)]="user.password" class="formInput" [type]="'password'" [placeholder]="'Password'" fill="outline" shape="round" mode="md"></ion-input>
      </div>

      <app-bt-user-small class="loginButton" (click)="login()" [text]="'Accedi'"></app-bt-user-small>

      <div class="singUpBox">
        <div class="linearGradientLeft"></div>
        <ion-button class="singUpButton" [routerLink]="['/signup']" expand="block" fill="clear" shape="round">
          Registrati
        </ion-button>
        <div class="linearGradientRight"></div>
      </div>
    </div>

  </div>
</ion-content>
