<ion-content [fullscreen]="true">
  <div class="backgroundLightUser">

    <div class="login">
      <img src="../../assets/image/logo.svg" alt="logo" class="logo">

      <h4>Rank Up</h4>

      <div class="form">
        <h3 class="titolo">Login</h3>
        <ul *ngIf="errorCheck">
          Username o password errati
        </ul>
        <ion-input [(ngModel)]="user.username" required class="formInput" [type]="'username'" label="Username" labelPlacement="stacked" fill="outline" shape="round" mode="md"></ion-input>
        <ion-input [(ngModel)]="password" (keydown)="handleKeyDown($event)" [type]="showPassword ? 'text' : 'password'" label="Password" labelPlacement="stacked" fill="outline" shape="round" mode="md" class="formInput with-eye-icon">
          <ion-icon name="{{ showPassword ? 'eye' : 'eye-off' }}" (click)="togglePasswordVisibility()" slot="end" class="eye-icon"></ion-icon>
        </ion-input>
      </div>

      <ion-button [disabled]="!isFormValid()" id="btUserSmall" (click)="login()">Accedi</ion-button>

      <div class="singUpBox">
        <div class="linearGradientLeft"></div>
        <ion-button class="singUpButton" [routerLink]="['/signup']" expand="block" fill="clear" shape="round">
          Registrati
        </ion-button>
        <div class="linearGradientRight"></div>
      </div>
    </div>

  </div>
</ion-content>
