<ion-content [fullscreen]="true">
  <div class="backgroundUser">

    <ion-button class="leftIcon" fill="clear" (click)="backButton()">
      <ion-icon name="arrow-back-outline" size="large" color="dark"></ion-icon>
    </ion-button>

    <h1 class="title">Cerca Team</h1>

    <div class="searchbar">
      <app-search-bar (ionInput)="ricerca($event)"></app-search-bar>
    </div>

    <div class="listBox" *ngIf="this.data">
      <div class="grind">
        <div class="team-card" (click)="presentAlert()" *ngFor="let i of this.data">
          <img fill="clear" sizes="large" alt="photo non presente nel db" src={{i.photo}} />
          <h4 class="team-name">
            {{i.name}}f
          </h4>
        </div>        
      </div>
    </div>
  </div>
</ion-content>