<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>componentsPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-bt-admin-large text="provaaaaaaaaaaaaaaaaaa"></app-bt-admin-large>
  <app-bt-admin-small text="prova prova prova"></app-bt-admin-small>
  <app-bt-user-large text="provaaaaaaaaaaaaaaaaaa"></app-bt-user-large>
  <app-bt-user-small text="prova prova prova"></app-bt-user-small>
  <app-input></app-input>
  <app-search-bar></app-search-bar>
  <app-user-insert-bar labelText="provaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"></app-user-insert-bar>
  <app-admin-insert-bar></app-admin-insert-bar>
  <app-user-element-bar></app-user-element-bar>
  <app-admin-element-bar></app-admin-element-bar>
  <app-list-item></app-list-item>
  <app-square-list></app-square-list>
  <app-admin-insert-bar-noselect></app-admin-insert-bar-noselect>
  <app-user-insert-bar-noselect></app-user-insert-bar-noselect>
  <app-admin-chose-bar></app-admin-chose-bar>
  <app-user-chose-bar></app-user-chose-bar>
  <app-confirm-buttons></app-confirm-buttons>
  <app-navbar></app-navbar>
</ion-content>
