<ion-content [fullscreen]="true">
  <div class="backgroundUser">

    <ion-button fill="clear" class="leftIcon" (click)="backButton()">
      <ion-icon name="arrow-back-outline" size="large" color="dark"></ion-icon>
    </ion-button>


    <img alt="User" class="icon" name=iconName src="https://ionicframework.com/docs/img/demos/avatar.svg">


    <ion-label class="userName">{{user.name}}</ion-label>

    <ion-label class="points">Punti: {{userJoin.points}}</ion-label>

    <div class="switch">
      <ion-segment value="1" (ionChange)="segmentChanged($event)">
        <ion-segment-button value=1>
          <ion-label class="segmentText">Compiti completati</ion-label>
        </ion-segment-button>
        <ion-segment-button value=2>
          <ion-label class="segmentText">Premi riscossi</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="listBox" *ngIf="stato">
      <ion-list>
        <ion-item class="item" *ngFor="let activity of activities" [routerLink]="['/task-completed']">
          <ion-label class="label">{{activity.name}}</ion-label>
          <ion-button class="fakebutton" [disabled]="true">{{activity.points}} pt</ion-button>
        </ion-item>
    </ion-list>
    </div>

    <div class="listBox" *ngIf="!stato">
      <ion-list>
        <ion-item class="item" *ngFor="let prize of prizes">
          <ion-label class="label">{{prize.name}}</ion-label>
          <ion-button class="fakebutton" [disabled]="true">{{prize.price}} pt</ion-button>
        </ion-item>
      </ion-list>
    </div>

  <!-- add navbar -->
  </div>
</ion-content>
