<ion-content [fullscreen]="true">

  <div class="backgroundUser">
    <ion-button class="leftIcon" (click)="backButton()">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-button>

    <h1 align="center" class="title">Task</h1>

    <div class="description" *ngIf="this.data">
      <app-user-element-bar labelText={{task.name}} buttonText="Task"></app-user-element-bar>
      <br>
      <app-user-element-bar labelText={{task.points}} buttonText="Punti"></app-user-element-bar>
    </div>

    <div class="buttons">
      <app-bt-user-small text="Descrizione" style="padding-right: 1.5vh;" id="descrizione"></app-bt-user-small>
      <app-bt-user-small text="Allegato" style="padding-left: 1.5vh;" id="modalAttached"></app-bt-user-small>
    </div>

    <div class="confirm">
      <h4 align="center">Inviare richiesta di completamento?</h4>
      <div class="pulsanteBox">
        <div class="titoloBox">
          <ion-button class="pulsante rifiuta">
            <ion-icon name="close-circle-outline" [routerLink]="['/user/rules-and-tasks-rules']"></ion-icon>
          </ion-button>
          <div class="text">Rifiuta</div>
        </div>
        <div class="titoloBox">
          <ion-button class="pulsante conferma" id="conferma"  (click)="sendNotification()">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </ion-button>
          <div class="text">Accetta</div>
        </div>
      </div>
    </div>
  </div>

<ion-alert *ngIf="this.data"
  trigger="descrizione"
  header="Descrizione"
  message={{this.data.description}}
  [buttons]="descrBtns"
></ion-alert>

<ion-alert
  trigger="conferma"
  header="Inviare richiesta di completamento?"
  [buttons]="confirmBtns"
></ion-alert>

<ion-modal trigger="modalAttached">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Aggiungi allegato</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="modal">
        <ion-icon name="document-attach-outline" class="icon"></ion-icon>
        <ion-button fill="clear">
          <ion-input type="file" (change)="loadFileFromDevice($event)" id="file-input" accept="all">
          </ion-input>
        </ion-button>

        <div>
          <app-bt-user-small text="Annulla" (click)="closeModal()" style="padding-right: 0.5vh;"></app-bt-user-small>
          <app-bt-user-small text="Allega" (click)="attach()" style="padding-left: 0.5vh;"></app-bt-user-small>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
</ion-content>