:root {
  /** user **/
  --ion-color-user: #4FC0CB;
  --ion-color-user-rgb: 79, 192, 203;
  --ion-color-user-contrast: #ffffff;
  --ion-color-user-contrast-rgb: 255, 255, 255;
  --ion-color-user-shade: #46a9b3;
  --ion-color-user-tint: #61c6d0;

  /** admin **/
  --ion-color-admin: #EC7082;
  --ion-color-admin-rgb: 236, 112, 130;
  --ion-color-admin-contrast: #ffffff;
  --ion-color-admin-contrast-rgb: 255, 255, 255;
  --ion-color-admin-shade: #d06372;
  --ion-color-admin-tint: #ee7e8f;

  /** light user **/
  --ion-color-light-user: #CAECEF;
  --ion-color-light-user-rgb: 202, 236, 239;
  --ion-color-light-user-contrast: #ffffff;
  --ion-color-light-user-contrast-rgb: 255, 255, 255;
  --ion-color-light-user-shade: #b2d0d2;
  --ion-color-light-user-tint: #cfeef1;

  /** light admin **/
  --ion-color-light-admin: #F9D4DA;
  --ion-color-light-admin-rgb: 249, 212, 218;
  --ion-color-light-admin-contrast: #ffffff;
  --ion-color-light-admin-contrast-rgb: 255, 255, 255;
  --ion-color-light-admin-shade: #dbbbc0;
  --ion-color-light-admin-tint: #fad8de;

  /** success **/
  --ion-color-success: #45D253;
  --ion-color-success-rgb: 69, 210, 83;
  --ion-color-success-contrast: #1d1d1d;
  --ion-color-success-contrast-rgb: 29, 29, 29;
  --ion-color-success-shade: #3db949;
  --ion-color-success-tint: #58d764;

  /** danger **/
  --ion-color-danger: #DE2C2C;
  --ion-color-danger-rgb: 222, 44, 44;
  --ion-color-danger-contrast: #1d1d1d;
  --ion-color-danger-contrast-rgb: 29, 29, 29;
  --ion-color-danger-shade: #c32727;
  --ion-color-danger-tint: #e14141;

  /** black **/
  --ion-color-black: #1d1d1d;
  --ion-color-black-rgb: 29, 29, 29;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 255, 255, 255;
  --ion-color-black-shade: #1a1a1a;
  --ion-color-black-tint: #343434;

  /** grey **/
  --ion-color-grey: #f0f0f0;
  --ion-color-grey-rgb: 243, 243, 243;
  --ion-color-grey-contrast: #1d1d1d;
  --ion-color-grey-contrast-rgb: 29, 29, 29;
  --ion-color-grey-shade: #d6d6d6;
  --ion-color-grey-tint: #f4f4f4;

  /** white **/
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #1d1d1d;
  --ion-color-white-contrast-rgb: 29, 29, 29;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;
}

@media (prefers-color-scheme: light) {

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66, 140, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }
}